.main-page {
  display: flex;
  justify-content: center;
}

.main-page-btn-wrapper {
  margin-top: 300px;
  text-align: center;
}

.main-page-btn {
  margin-bottom: 30px;
  padding: 15px;
  color: white;
  background-color: #E1003D;
  border-radius: 7px;
  cursor: pointer;
}