.nft-page {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.nft-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  background: #FFFFFF;
  max-width: 700px;
  padding: 45px;
  text-align: center;
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
}

.nft-container p {
  margin: 15px 0;
}

.nft-info {
  margin-bottom: 20px;
  padding: 10px;
  border: 2px solid #f7b2d5;
  font-size: 14px;
  text-align: start;
}

.nft-options {
  margin-top: 30px;
}

.nft-options p {
  text-align: center;
  background: #f7b2d5;
  padding: 10px 15px;
  color: #FFFFFF;
  font-size: 14px;
  cursor: pointer;
}