.login-page {
  width: 360px;
  padding: 15% 0 0 0;
  margin: auto;
}

.form {
  position: relative;
  background: #FFFFFF;
  max-width: 360px;
  padding: 45px;
  text-align: center;
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
}

.form input {
  background: #f2f2f2;
  outline: 0;
  width: 100%;
  border: 0;
  margin: 12px 0;
  padding: 10px;
  font-size: 14px;
}

.login-button {
  background: #f7b2d5;
  width: 85%;
  margin: 0 auto;
  margin-top: 15px;
  padding: 15px;
  color: #FFFFFF;
  font-size: 14px;
  cursor: pointer;
}

.check-register {
  font-size: 13px;
  color: rgba(0, 0, 0, 0.5);
}

.check-register p {
  margin-top: 10px;
}

.link-to-singup {
  color: #f7b2d5;
  cursor: pointer;
}
